<a href="https://colab.research.google.com/github/anjha1/Programming-Languages/blob/main/python/Basic%20Of%20Python/Python_Basics_Day_1(a_n_jha).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [1]:
address = 'Pimpri Chinchwad, Pune : 411057'    # This is my address
print(address)                                # This is the print statement

Pimpri Chinchwad, Pune : 411057

In [2]:
print('Pune')

Pune

In [3]:
address

'Pimpri Chinchwad, Pune : 411057'

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [4]:
name = 'Mohit'
age = 25
height = 5.8

profile = ['Mohit',25,5.8,60,'Engineer']         # List Method
profile_2 = ('Disha',23,5.5,55,'Teacher')        # Tuple Method
profile_3 = {'Name':'Sai','Role':'Cricket Analyst','age':22,'City':'Pune'} # Dictionary Method
profile_4 = {'Sreedevi',55.6,'Teacher', 5.6}     # Set Method

In [5]:
print(profile_4)

{'Teacher', 'Sreedevi', 5.6, 55.6}

In [6]:
type(profile_4)

set

In [7]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it
student2 = ['Rishika', 21, 90.2]    # Can modify it
student3 = {'Rishika', 21, 90.2}    # Random Output

In [8]:
type(student3)

set

In [9]:
student = {'Name':'Rishika', 'Age': 21, 'Percent':90.2}

In [10]:
bool(1)

True

In [11]:
age = str(22)

In [12]:
type(age)

str

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [13]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

# print(x+y, x-y, x*y, x/y, x%y, x**y)

print(x*y)

40

In [14]:

# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8


# x = x - y
# x -= y       # x = x - y/


x = x * y


print(x)

40

In [15]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

x >= y

False

In [16]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y)

case1 =(x < y) or (x == y)

print(case1,not(case1))

True False

In [17]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True