<a href="https://colab.research.google.com/github/anjha1/Programming-Languages/blob/main/python/Basic%20Of%20Python/Python_Basics_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loop

*   It is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
*   Using Break & Contiue keyword

In [1]:
fruits = ["apple", "banana", "cherry",'pineappple','mango']

for i in fruits:
  print(i)

apple
banana
cherry
pineappple
mango

In [2]:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [3]:
for x in fruits:
  if x == "cherry":
    continue
  print(x)

apple
banana
pineappple
mango

# While Loop

*   With the while loop we can execute a set of statements as long as a condition is true.
*   Using Break & Contiue keyword

In [4]:
num = 1

while num < 6:
  print(num)
  num += 1

1
2
3
4
5

In [5]:
num = 1

while num < 6:
  print(num)
  if num == 3:
    break
  num = num + 1

1
2
3

In [6]:
num = 0

while num < 10:
  num += 1
  if num == 5:
    continue
  print(num)

1
2
3
4
6
7
8
9
10

# Python Functions

*   A function is a block of code which only runs when it is called.

*   Advanced Functions - lambda, map, zip

In [7]:
def intro():                     # Function Defining
  value = 5
  return value**2
  # print("Hello i'm from a function")

In [8]:
intro()       # Function Calling

25

In [9]:
def my_ID(name):                    # Function with Arguments
  print("CR001_" + name)

In [10]:
my_ID("Sai")

CR001_Sai

In [11]:
# def add(a,b,c):
#   return a+b+c


# Using Lambda Function

add = lambda a,b,c: print(a+b+c)

In [12]:
add(4, 5, 5)

14

In [13]:
# add(4,5,1)

In [14]:
# Map Function

nums = [1, 2, 3, 4, 5]

def sq(n):
    return n*n

# sq(2)

square = map(sq, nums)

print(list(square))

[1, 4, 9, 16, 25]

In [15]:
# Zip Function

name = ["Manjeet", "Nikhil", "Shambhavi"]
ID = [4, 1, 3]

mapped = zip(name, ID)

print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3)]

In [16]:
type(mapped)

zip